{% extends 'base.html' %} {% block title %}Contact{% endblock title %}
{% block body %}

<!-- contact form -->

<style>
    body {
        color: #ffffff
    }

    .box {
        margin: auto
    }

    .card {
        padding: 8%;
        padding-top: 35px;
        margin-top: 60px;
        margin-bottom: 80px
    }

    textarea[name="message"] {
        resize: none
    }

    #e-mail {
        height: 45px
    }

    #message {
        height: 120px
    }

    input.input-box,
    textarea.input-box {
        background-color: rgba(9, 25, 43, 90%);
        border: #616161;
        color: #BDBDBD
    }

    input.input-box:focus,
    textarea.input-box:focus {
        background-color: rgba(9, 25, 43, 90%);
        color: #BDBDBD
    }

    .rm-border:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    form .form-control::-webkit-input-placeholder {
        color: #9E9E9E
    }

    ::-moz-placeholder {
        color: #9E9E9E !important
    }

    input.btn-purple {
        background-color: #5C6BC0;
        color: #ffffff
    }

    .card {
        background-color: rgba(9, 25, 43, 90%);
    }
    .btn{
        border: 2px solid rgba(9, 25, 43, 90%);
        color: #F7C873;
        
    }
    .btn:hover{
        background-color: rgba(9, 25, 43, 90%);
    }
</style>

<div class="bg">
    <div class="container">
        <div class="row justify justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 col-xl-5">
                <form class="" method="post" action="/contact">
                {% csrf_token %}
                    <div class="card">
                        <div class="row mt-0">
                            <div class="col-md-12 ">
                                <h4 class="">Contact Us</h4>
                                <p>Use the form below to share your questions, ideas, comments and feedback</p>
                            </div>
                            <div class="form-group row mb-3">
                                <div class="col-md-12 mb-0">
                                    <p class="mb-1">Name</p> 
                                    <input id="name" type="text"
                                        placeholder="Enter your Name" name="name"
                                        class="form-control input-box rm-border" required>
                                </div>
                                <div class="col-md-12 mb-0">
                                    <p class="mb-1">Email</p> 
                                    <input id="e-mail" type="text"
                                        placeholder="Enter your email" name="email"
                                        class="form-control input-box rm-border" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 mb-2">
                                    <p class="mb-1">Message</p> 
                                    <textarea id="message" type="text" placeholder="Enter your message" name="message" class="form-control input-box rm-border" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center mb-0">
                                <div class="col-md-12 px-3" style="color: #F7C873;"> <input type="submit" value="Submit"
                                        class="btn btn-block rm-border"/> </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}